.gradle/
build/
local.properties
.env
*.keystore
*.jks
.idea/
*.iml
.DS_Store

# TDLib build output, produced by the `build tdlib` workflow
data/telegram/src/main/jniLibs/*
!data/telegram/src/main/jniLibs/.gitkeep
data/telegram/src/main/java/*
!data/telegram/src/main/java/.gitkeep
